{% extends "backend_base.html" %}
{% load static %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
<!--            <div class="block-header">-->
<!--                <h2 style="color: black !important">ADMIN PROFILE</h2>-->
<!--            </div>-->

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <i class="fa-sharp fa-light fa-gear"></i> Update Admin Profile
                            </h2>
                        </div>
                        <div class="body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <div class="form-line">
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" value="{{ request.user.email }}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <div class="form-line">
                                        <div class="position-relative" style="display: flex; align-items: center;">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter new password">
                                            <button type="button" class="btn btn-link position-absolute end-0 text-dark" id="passwordToggle" style="z-index: 10; margin-top: -2px;">
                                                <i class="fa-light fa-eye" id="passwordToggleIcon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirm New Password</label>
                                    <div class="form-line">
                                        <div class="position-relative" style="display: flex; align-items: center;">
                                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm new password">
                                            <button type="button" class="btn btn-link position-absolute end-0 text-dark" id="confirmPasswordToggle" style="z-index: 10; margin-top: -2px;">
                                                <i class="fa-light fa-eye" id="confirmPasswordToggleIcon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">UPDATE PROFILE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
